---
project_name : ${project_name}
project_root: /usr/local/${project_name}
username: ${username}
group_home: /home/${username}
host: ${host}
db_name: ${project_name}
db_admin: ${db_admin}
domain: ${domain}
user_ssh_key: ${user_ssh_key}
